DIRECTORY_DATA="/leonardo_scratch/fast/AIFAC_F01_302/epi4ab/nodes_edges/"
DIRECTORY_PROCESSED_DATA="/leonardo_scratch/fast/AIFAC_F01_302/epi4ab/processed/"
DIRECTORY_OUTPUT="/leonardo_scratch/fast/AIFAC_F01_302/epi4ab/output/" # For training, model artifacts will be saved here
DIRECTORY_UNSEEN_OUTPUT="/leonardo_scratch/fast/AIFAC_F01_302/epi4ab/run_model_output/"
DIRECTORY_PDB_LIST="/leonardo_scratch/fast/AIFAC_F01_302/epi4ab/pdb_lists/train/"
DIRECTORY_UNSEEN_PDB_LIST="/leonardo_scratch/fast/AIFAC_F01_302/epi4ab/pdb_lists/test/test_list.csv"
DIRECTORY_AF_PDB_LIST="/leonardo_scratch/fast/AIFAC_F01_302/epi4ab/pdb_lists/train/"
DIRECTORY_UNSEEN_AF_PDB_LIST="/leonardo_scratch/fast/AIFAC_F01_302/epi4ab/pdb_lists/test/"